@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* css class for the edit profile generated errors */
.profilepress-edit-profile-status {
  width: 400px;
  text-align: center;
  background-color: #e74c3c;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

.memo-edprofile-success {
  width: 400px;
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

#sc-edprofile {

 /* background: #f0f0f0;*/
  width: 700px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
  background: #009999;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

div#sc-edprofile .sc-container {
  background: #f0f0f0;
  padding: 6% 4%;
  margin-bottom: 100px;
}

div#sc-edprofile input[type="email"],
div#sc-edprofile input[type="text"],
div#sc-edprofile input[type="password"], div#sc-edprofile select, div#sc-edprofile textarea {
  width: 100%;
  background:#fff ;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Amatic SC', cursive;
  font-size: 95%;
  color: #555;
  letter-spacing: 3px;
  font-weight: 600;
}

div#sc-edprofile select {
  width: 100%;
}

div#sc-edprofile textarea {
  height: 100px;
}

div#sc-edprofile input[type="submit"] {
  width: 100%;
  background: #009999;
  border: 0;
  padding: 4%;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 35px;
  /*transition: background .3s;
  -webkit-transition: background .3s;*/
}

div#sc-edprofile input[type="submit"]:hover {
  color:#7FFFD4;
}
body{
  background: url("back.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
header li {
  overflow: hidden; 
}
header li a {
  color: black;
  text-decoration: none;
  
}
#add_btn:hover {
  color:#7FFFD4;
}

#logout_btn:hover {
  color:#7FFFD4;
}

#add_btn {
  position: absolute;
  top: 15px;
  left: 20px;
  letter-spacing: 3px;
  border: 3px solid #009999;
}

#logout_btn {
  position: absolute;
  top: 15px;
  right: 20px;
}
#logout_btn {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  border-radius: 40%;
  border: none;
  background-color: #009999;
  font-size: 40px;

}
#add_btn {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  border-radius: 40%;
  border: none;
  background-color: #009999;
  font-size: 40px;

}
 div#sc-edprofile  {
 /* width: 100%;*/
 /* background: #fff;*/
  margin-bottom: 4%;
 /* border: 1px solid #ccc;*/
  padding: 4%;
  font-family: 'Amatic SC', cursive;
  font-size: 95%;
  color: #555;
  letter-spacing: 3px;
  font-weight: 600;
}

/*div#sc-edprofile  {
  width: 100%;
}*/

div#sc-edprofile  {
  height: 100px;
}

.edit{
    display: block;
    /* width: 100%; */
    height: calc(2.25rem + 2px);
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    /* background-color: #fff; */
    /* background-clip: padding-box; */
    /* border: 1px solid #ced4da; */
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.submitt{
    background-color: transparent;
    border: none;
    padding: .375rem .75rem;
}