
body{
	background: url("back.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
	padding-bottom: 10px;
	font-family: 'Amatic SC', cursive; 
	font-weight: bold;
}

header li {
	overflow: hidden;	
}
header li a {
	color: black;
	text-decoration: none;
}

#add_btn, #dropdownMenuButton{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	border-radius: 40%;
	border: none;
	background-color: #009999;
	font-size: 40px;
    outline:none;
}

#add_btn:hover {
	color:#7FFFD4;
}

#dropdownMenuButton:hover {
	color:#7FFFD4;
}

#link_na_str:hover {
	color:#7FFFD4;
}

#link_na_str {
	color: black;
	text-decoration: none;
    outline:none;
}

#add_btn {
	position: absolute;
	top: 15px;
	left: 20px;
    outline:none;
}

#dropdownMenuButton {
	position: absolute;
	top: -20px;
	right: 20px;
    outline:none;
    color:black;
}
#pojedini_about{
	width: 350px;
    height: 700px;
    background-color: rgba(255,255,255,0.8);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    font-weight: bold;
}

#info{
	position: absolute;
    width: 350px;
    height: 700px;
    background-color: rgba(0,153,153,0.8);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    margin-left: 750px;
    font-weight: 900;
    text-decoration: none;
}

#join_btn{
	font-family: 'Amatic SC', cursive;
    font-weight: bold;
    border-radius: 40%;
    border: 3px solid #009999;
    background-color: #009999;
    font-size: 40px;
    margin-left: 290px;
    margin-top: 150px;
    margin-bottom: 50px;
    width: 50%;
    border-radius: 60%;
    outline:none;
}

#join_btn:hover{
	color:#7FFFD4;
}

#cancel_btn{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    border-radius: 40%;
    border: 3px solid #009999;
    background-color: #009999;
    font-size: 40px;
    margin-left: 290px;
    margin-top: 150px;
    margin-bottom: 50px;
    width: 50%;
    border-radius: 60%;
    outline:none;
}

#cancel_btn:hover{
    color: red;
}

#title{
	font-size: 100px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    display: flex;
    font-family: 'Amatic SC', cursive;
    color: black;
 
}
.picturePlace{
	position: relative;
	width: 415px; 
	height: 350px; 
	margin-left: 335px;
	background-color: rgba(218, 235, 233, 0.8);
}

#slika_izleta{
    min-width: 415px;
    max-width: 415px;
    max-height: 350px;
    min-height: 350px;
    position: absolute;
    margin-left: 335px;
    top: 228px;
}

#user_picture{
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    position: relative;
}


.vertical-menu {
  width: 330px;
  height: 100px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: rgba(0,153,153,0.7); 
  color: black; 
  display: block; /* Make the links appear below each other */
  padding: 12px; 
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  color:#7FFFD4;
}

.vertical-menu a.active {
  background-color: #7FFFD4; 
  color: black;
}
.banana {
 resize: none;
}

#write_comment{
    width: 800px;
    height: 200px;
    resize: none;
}
#submit{
    margin-left: 920px;
    margin-top: -250px;
    border: 2px solid #009999;
    font-family: 'Amatic SC', cursive; 
    font-size: 20px;
}

#submit:hover{
   font-weight: bold;
}

#maker{
    text-decoration: none;
    color: black;
}

#maker:hover{
  color:#7FFFD4;
  font-weight: 900;  
}