body{
	background: url("back.jpg")no-repeat center center fixed;
	/*background-repeat: no-repeat;
	background-size: initial;*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
	padding-bottom: 100px;
}

header li {
	overflow: hidden;	
}
header li a {
	color: black;
	text-decoration: none;
}

#add_btn, #logout_btn, #advanced_button{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	border-radius: 40%;
	border: none;
	background-color: #009999;
	font-size: 40px;
}

#advanced_button {
	display: none;
}

#advanced {
	display: none;
}

#add_btn:hover {
	color:#7FFFD4;
}

#logout_btn:hover {
	color:#7FFFD4;
}

#link_na_str:hover {
	color:#7FFFD4;
}

#advanced_button:hover {
	color:#7FFFD4;
}

#link_na_str {
	color: black;
	text-decoration: none;
}

#add_btn {
	position: absolute;
	top: 15px;
	left: 20px;
}

#logout_btn {
	position: absolute;
	top: 15px;
	right: 20px;
}

#izlet{
	max-width: 1000px;
	max-height: 200px;
	padding-bottom: 250px;
	opacity: 0.9;
}

#slika_izleta {
	max-height: 200px;
	min-height: 199px;
	max-width: 200px;
	min-width: 199px;
}

#text_izleta{
	background-color: #009999;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 25px;
	max-height: 200px;
	max-width: 600px;
	min-width: 600px;
	min-height: 199px;
}

#cijena_i_o{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 25px;
	max-width: 200px;
	min-width: 199px;
	max-height: 200px;
	min-height: 199px;
}

#izlet_row {
	background-color: white;
}

#pojedini_about {
	background-color: white;
	max-width: 1000px;
	max-height: 400px;
	min-width: 1000px;
	min-height: 400px;
	padding-bottom: 250px;
	opacity: 0.9;
}

#ime_destinacije {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 25px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-left:35%;
}
.container-1 input#search{
  width: 400px;
  height: 50px;
  background: #009999;
  border: none;
  font-size: 20px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 40px;
  top: -40px;
  color: black;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  padding-left: 40px;
}


.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon{
  position: absolute;
  top: -40px;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
  padding-top: 12px;
}
