h1{
	font-size: 100px;
}
body{
	background: url("back.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
	padding-bottom: 100px;
	font-family: 'Amatic SC', cursive; 
	font-weight: bold;
}

header li {
	overflow: hidden;	
}
header li a {
	color: black;
	text-decoration: none;
}

#add_btn, #logout_btn{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	border-radius: 40%;
	border: none;
	background-color: #009999;
	font-size: 40px;
}

#add_btn:hover {
	color:#7FFFD4;
}

#logout_btn:hover {
	color:#7FFFD4;
}

#link_na_str:hover {
	color:#7FFFD4;
}

#link_na_str {
	color: black;
	text-decoration: none;
}

#add_btn {
	position: absolute;
	top: 15px;
	left: 20px;
}

#logout_btn {
	position: absolute;
	top: 15px;
	right: 20px;
}

#pojedini_about{
	width: 1100px;
	height: 300px;
	background-color: rgba(255,255,255,0.8);
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	font-family: 'Amatic SC', cursive; 
	position: relative;
	font-weight: bold;
}

#info{
	position: relative;
	width: 1100px;
	height: 100px;
	background-color: rgba(0,153,153,0.8);	
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	font-family: 'Amatic SC', cursive; 
	right:  20px;
	font-weight: 900;
}

#join_btn{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	border-radius: 40%;
	border: 3px solid #009999;
	background-color: #009999;
	font-size: 40px;
	position: relative;
	left: 790px;
	bottom: 200px;
}

#join_btn:hover{
	color:#7FFFD4;
}

