<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<link rel="stylesheet" type="text/css" href="pojedini_izlet.css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>

<body>
	<header>
		<ul>
			<li><a class="newtrip" href="izleti.html"><button class="btn1" id = "add_btn">Back</button></a></li>
			<li><a class="logout" href="register.html"><button class="btn2" id = "logout_btn">Log out</button></a></li>
			
		</ul>
	</header>

<h1 id="title">Zagreb</h1>
<div class="background"></div>


<div class="container">
	
	<div class="row">
		<div class="col-lg-" id = "pojedini_about">
			Zagreb je glavni grad Republike Hrvatske, i najveći grad u Hrvatskoj po broju stanovnika. Šire područje grada okuplja više od milijun stanovnika. Povijesno gledajući, grad Zagreb je izrastao iz dva naselja na susjednim brežuljcima, Gradeca i Kaptola, koji čine jezgru današnjeg grada, njegovo povijesno središte. Nalazi se na jugozapadnom rubu Panonske nizine na prosječnoj nadmorskoj visini od 122 m, podno južnih padina Medvednice, na lijevoj i desnoj obali rijeke Save. Položaj grada, koji je na mjestu spajanja alpske, dinarske, jadranske i Panonske regije, omogućio je da Zagreb postane most između srednjoeuropskog i jadranskog područja.

Prema popisu stanovništva iz 2011. u Zagrebu živi 790.017 stanovnika.[2][3] Kao najveći i glavni grad, Zagreb je kulturno, znanstveno, gospodarsko i upravno središte Republike Hrvatske i Zagrebačke županije. Zahvaljujući ulozi najvećeg prometnog centra u Hrvatskoj, razvijenoj industriji s dugom tradicijom i znanstvenim i istraživačkim ustanovama, Zagreb je gospodarski najrazvijeniji grad u Hrvatskoj.

Grad Zagreb je posebna teritorijalna, upravna i samoupravna jedinica koja ima položaj županije.
</div>

	</div>
	
<div class="container" id = "info">
      
    <h3>PRICE</h3>
	<p>120 €</p> 
        
    <h3>TRANSPORT</h3>
	<p>TRAIN</p>
    
    <h3>DATE</h3>
    <p>23.05.2019.</p>

    <h3>RATING</h3>
	<p>4.6</p>

	<h3>JOINED USERS</h3>
	<p>padajuci izbornik?</p>    
     
    
    
</div>

<div class="picturePlace"></div>
<button class="btn4" id="add_pic">Add a picture</button>
<div id="googleMap" style="width: 415px; height: 350px; margin-left: 335px; position: relative;"></div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<button class="btn3" id = "join_btn">Join the trip</button>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(45.8374697,15.7781421),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr3Xo2yuO_ROrGxQ3YQ7FlzHgQsrIJT9I&callback=myMap"></script>

</body>
</html>