<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
    
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>
  <header>
    <ul>
      <li><a class="newtrip" href="{{ url_for('home') }}"><button class="btn1" id = "add_btn">Back</button></a></li>
      <li><a class="logout" href="{{ url_for('edit') }}"><button class="btn2" id = "logout_btn">Edit profile</button></a></li>
    </ul>
  </header>
<body>
  
  <img src="user.jpg" class="rounded-circle" alt="Profile picture">
  <div class="square">
    <div id="about">

    <h6 id="userName">User name: </h6>
    <p id="userName">{{ current_user.username }}</p>
    <h6 id="otherInfo">First name: </h6>
    <p id="otherInfo">{{ current_user.first_name }}</p>
    <h6 id="otherInfo">Last name: </h6>
    <p id="otherInfo">{{ current_user.last_name }}</p>
    <h6 id="otherInfo">Email: </h6>
    <p id="otherInfo1">{{ current_user.email }}</p>
    <h6 id="otherInfo">Gender</h6>
    <p id="otherInfo">{{ current_user.spol }}</p>
    <h6 id="otherInfo">About me</h6>
    <textarea rows="5" cols="100" id="otherInfo" readonly="readonly">
     {{ current_user.bio }}
    </textarea>
    <h6 id="otherInfo">Past trips</h6>
    <div style="overflow: scroll; width:300px; height:130px;" id="otherInfo">Padajuci izbornik a
      aaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaa
      aaaaaa testt
      test
    </div>
    </div>
  </div>

</body>
</html>