<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pojedini_izlet.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>

<body>
	<header>
		<ul>
			<li><a class="newtrip" href="{{ url_for('home') }}"><button class="btn1" id = "add_btn">Back</button></a></li>
			<li><a class="logout" href="{{ url_for('register') }}"><button class="btn2" id = "logout_btn">Log out</button></a></li>
		</ul>
	</header>

<h1 id="title">{{data.location}}</h1>
<div class="background"></div>


<div class="container">

	<div class="row">
		<div class="col-lg-" id = "pojedini_about">
			{{data.about}}
</div>

	</div>
	
<div class="container" id = "info">

    <h3>PRICE</h3>
	<p>{{data.cost}}</p>

    <h3>TRANSPORT</h3>
	<p>{{data.transport}}</p>

    <h3>DATE</h3>
    <p>{{data.date}}</p>

    <h3>RATING</h3>
	<p>{{data.rating}}</p>

	<h3>MADE BY</h3>
	<p><a href="{{ url_for('profile', id=data.creator) }}">{{data.creator}}</a></p>

	<h3>JOINED USERS</h3>
	<div class="vertical-menu">
		{% for user in data.users %}
  			<a href = "{{ url_for('profile', id=user.username) }}">{{user.username}}</a>
  		{% endfor %}
	</div>



</div>

<div class="picturePlace"></div>
{% if data.picture %}
        <image src="{{ url_for('static', filename='uploads/' + data.picture) }}" id = "slika_izleta">
        </image>
{% else %}
        <image src="{{ url_for('static', filename='styles/izlet_default.jpg') }}" id="slika_izleta">
        </image>
{% endif %}
<div id="googleMap" style="width: 415px; height: 350px; margin-left: 335px; position: relative;"></div>

<form name="rform" class="form-signin" action="" method="post" novalidate>
	{{ rform.hidden_tag() }}
	{{ rform.submit(class="btn3", id = "join_btn", type="submit")}}
</form>


<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container">

    <div class="card">
        <div class="card-body">
            <div class="row">
            	<form name="lform" class="form-signin" action="" method="post" novalidate>
            		 {{ lform.hidden_tag() }}
                     {{ lform.comment(type = "text-area", id="write_comment", placeholder="Comment...", class="form-control")}}
                     {{ lform.submit(class="btn btn-sm text-uppercase", type="submit")}}
                </form>
            </div>
            	{% for comment in data.comments %}
                <div class="card card-inner">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                {% if comment.user_picture %}
                                  <image src="{{ url_for('static', filename='uploads/' + comment.user_picture) }}">
                                  </image>
                                {% else %}
                                  <image src="{{ url_for('static', filename='styles/user.jpg') }}">
                                  </image>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                <p><a href="{{ url_for('profile', id=comment.username) }}"><strong>{{comment.username}}</strong></a></p>
                                <p>{{comment.comment}}</p>
                                <p>
                                    <a class="float-right btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i> Reply</a>
                                    <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                               </p>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(45.8374697,15.7781421),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr3Xo2yuO_ROrGxQ3YQ7FlzHgQsrIJT9I&callback=myMap"></script>


</body>
</html>
